$primary: #133e87;
$secondary: #608bc1;
$info: #cbdceb;

$box-shadow: 0 0.5rem 1rem rgba($primary, 0.15);
$box-shadow-lg: 0 1rem 3rem rgba($primary, 0.175);

body,
html {
	background-color: #f3f3e0;
}

.bg-main {
	background-color: #f3f3e0;
}

.nav-link {
	text-decoration: none !important;
	transition: all 2s ease-in-out;
}

.nav-link.active {
	font-weight: bolder;
	color: #133e87;
}

.nav-item {
	border-bottom: 1px solid transparent;
	transition: all 0.5s ease-in-out;
}

.nav-item.active {
	border-color: #133e87;
}

.form-dlg {
	top: -25px !important;
	width: 46% !important;
	height: 350px !important;
	box-shadow: 1px 1px 1px 2px #c2d1e47f;
}

.transition {
	transition: all 0.4s ease-in-out;
}

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
